footer.footer

  .footer__wrapper.wrapper

    ul.footer__menu
      li.footer__menu-item
        a(href="#").footer__menu-link Latest Posts
      li.footer__menu-item
        a(href="#").footer__menu-link Popular Posts
      li.footer__menu-item
        a(href="#").footer__menu-link Search
      li.footer__menu-item
        a(href="#").footer__menu-link Contact Information
      li.footer__menu-item
        a(href="#").footer__menu-link Privacy Policy
      li.footer__menu-item
        a(href="#").footer__menu-link Terms of Use

    .footer__icon.icon
      a(href="#" aria-label="Инстаграм").icon__link
        svg.icon__img
          use(xlink:href="img/symbol/sprite.svg#instagram")
      a(href="#" aria-label="Твитор").icon__link
        svg.icon__img
          use(xlink:href="img/symbol/sprite.svg#twitter")
      a(href="#" aria-label="Фейсбук").icon__link
        svg.icon__img
          use(xlink:href="img/symbol/sprite.svg#facebook-f")