header.header

  .header__wrapper

    .header__icon.icon
      a(href="#" aria-label="Инстаграм").icon__link
        svg.icon__img
          use(xlink:href="img/symbol/sprite.svg#instagram")
      a(href="#" aria-label="Твитор").icon__link
        svg.icon__img
          use(xlink:href="img/symbol/sprite.svg#twitter")
      a(href="#" aria-label="Фейсбук").icon__link
        svg.icon__img
          use(xlink:href="img/symbol/sprite.svg#facebook-f")

    .header__box
      .header__search
        a(href="#" aria-label="Поиск").header__search-link
          svg.header__search-img
            use(xlink:href="img/symbol/sprite.svg#search")
      a(href="#").header__subscribe-link Subscribe

    h1.header__title Hipsum Blog