
//-----===== Подключения шрифтов ====-----//

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat:wght@400;500;700&family=Playfair+Display&display=swap');

//font-family: 'Exo 2', sans-serif;

//font-family: 'Montserrat', sans-serif;

//font-family: 'Playfair Display', serif;