@charset "UTF-8"

@import "fonts"
@import "normalize" // reset
@import "variables"
@import "function"
@import "mixins"
@import "core"
@import "animations"

// .icon
@import "blocks/icon"
// .pagination
@import "blocks/pagination"
// .widget
@import "blocks/widget"
// .element
@import "blocks/element"

// 1 .header
@import "blocks/header"
// 2 .content
@import "blocks/content"
// 3 .sidebar
@import "blocks/sidebar"
// 4 .footer
@import "blocks/footer"
// 5 .preview
@import "blocks/preview"






