
//-----===== Базовые переменные ====-----//

background-body = #fff
color-body = #000

font-style-body = normal
font-weight-body = 400
font-size-body = 16px
font-family-body = 'Montserrat', sans-serif

line-height-body = 1.15

viewport-container = 100%
viewport-max = 1200px
viewport-min = 320px


// Colors
white = #fff
black = #000